.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-gap: 1em;

    /* Grid height */
    grid-auto-rows: minmax(100px, auto);

    /* Justify Content */
    justify-items: stretch;
    align-items: stretch;
}
    .wrapper > div{
        background: #eee;
        padding: 1em;
    }
    .wrapper > div:nth-child(odd){
        background: #ddd;
    }

.nested{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

    .nested > div{
        border: #333 1px solid;
        padding: 1em;
    }

.box1{
    align-self: start;

    /* Set a grid to span 3 columns */
    grid-column: 1/3;

    /* Set a grid to span 3 rows */
    grid-row: 1/3;
}

.box2{
    align-self: end;
}